.icon-point{
  background-image: url("../images/icons/point.png");
  width: 16px;
  height: 16px;
}

.icon-line{
  background-image: url("../images/icons/line.png");
  width: 16px;
  height: 16px;
}

.icon-polygon{
  background-image: url("../images/icons/polygon.png");
  width: 16px;
  height: 16px;
}

.icon-polygon2{
  background-image: url("../images/icons/polygon2.png");
  width: 16px;
  height: 16px;
}

.icon-measure-line{
  background-image: url("../images/icons/measure-line.png");
  width: 16px;
  height: 16px;
}

.icon-measure-area{
  background-image: url("../images/icons/measure-area.png");
  width: 16px;
  height: 16px;
}

.icon-remove{
  background-image: url("../images/icons/remove.png");
  width: 16px;
  height: 16px;
}

.icon-remove-all{
  background-image: url("../images/icons/remove-all.png");
  width: 16px;
  height: 16px;
}

.icon-hand{
  background-image: url("../images/icons/hand.png");
  width: 16px;
  height: 16px;
}

.icon-buffer{
  background-image: url("../images/icons/buffer.png");
  width: 16px;
  height: 16px;
}

.icon-circle{
  background-image: url("../images/icons/circle.png");
  width: 16px;
  height: 16px;
}

.icon-rectangle{
  background-image: url("../images/icons/rectangle.png");
  width: 16px;
  height: 16px;
}

.icon-square{
  background-image: url("../images/icons/square.png");
  width: 16px;
  height: 16px;
}

.icon-home{
  background-image: url("../images/icons/home.png");
  width: 16px;
  height: 16px;
}

.icon-clear-all{
  background-image: url("../images/icons/clear-all.png");
  width: 16px;
  height: 16px;
}

.icon-pan{
  background-image: url("../images/icons/pan.png");
  width: 16px;
  height: 16px;
}

.icon-info{
  background-image: url("../images/icons/info.png");
  width: 16px;
  height: 16px;
}

.icon-download{
  background-image: url("../images/icons/download.png");
  width: 16px;
  height: 16px;
}

.icon-report{
  background-image: url("../images/icons/report.png");
  width: 16px;
  height: 16px;
}

.icon-intersect-poly{
  background-image: url("../images/icons/intersect-poly.png");
  width: 16px;
  height: 16px;
}

.icon-intersect-rec{
  background-image: url("../images/icons/intersect-rec.png");
  width: 16px;
  height: 16px;
}

.icon-intersect-sq{
  background-image: url("../images/icons/icon-intersect-sq.png");
  width: 16px;
  height: 16px;
}

.icon-search{
  background-image: url("../images/icons/search.png");
  width: 16px;
  height: 16px;
}

.icon-setting{
  background-image: url("../images/icons/setting.png");
  width: 16px;
  height: 16px;
}

.icon-sm{
  padding: 6px;
}